<%= render "shared/evaluation_header" %>

<div class="evaluation-main">

  <%# サイドバー %>
  <div class="sidebar">
    <%= render "suggestions/sidebar" %>
    <%= render "evaluations/evaluation_sidebar" %>
  </div>

  <%# メイン部分 %>
  <div class="evaluation-area">

    <%# 評価対象の表示部分 %>
    <div class="show-only-suggestion">
      <%= render "suggestions/show_suggestion" %>
    </div>

    <%# 採点部分 %>
    <%= render "evaluations/evaluation_input"%>
  </div>
</div>