
<%= render "/devise/shared/header" %>

<h1 class="registration-title">Sign Up Page</h1>

<div class="user-registration">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="registration-field">
      社員番号　<span class="indispensable">必須</span> <br />
      <%= f.text_field :corporate_no, class:"registration-text-box", autofocus: true, autocomplete: "corporate_no" %>
    </div>

    <div class="registration-name">
      <div class="registration-name-field">
        名字　<span class="indispensable">必須</span> <br />
        <%= f.text_field :family_name, class:"registration-name-box", autofocus: true, autocomplete: "family_name" %>
      </div>
      <div class="registration-name-field">
        名前　<span class="indispensable">必須</span> <br />
        <%= f.text_field :first_name, class:"registration-name-box", autofocus: true, autocomplete: "first_name" %>
      </div>
    </div>

    <div class="registration-field">
      e-mailアドレス　<span class="indispensable">必須</span> <br />
      <%= f.email_field :email, class:"registration-text-box", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="registration-field">
      パスワード　<span class="indispensable">必須</span>
      <% if @minimum_password_length %>
      <em>(最小<%= @minimum_password_length %> 文字)</em>
      <% end %><br />
      <%= f.password_field :password, class:"registration-text-box", autocomplete: "new-password" %>
    </div>

    <div class="registration-field">
      パスワード(確認用)　<span class="indispensable">必須</span> <br />
      <%= f.password_field :password_confirmation, class:"registration-text-box", autocomplete: "new-password" %>
    </div>

    <div class="submit">
      <%= f.submit "登録", class:"submit-btn" %>
    </div>
  <% end %>
  <div class="devise-links" >
    <%= render "devise/shared/links"%>
  </div>
</div>


