<div class="evaluation-header">
  <div class="left-header">
    <%= link_to "Suggestions Box", root_path, class:"header-title"%>
    <% if user_signed_in? %>
      <div class="user-info-field">
        <div>
          ようこそ、<%= (current_user.family_name + " " + current_user.first_name) %>さん
        </div>
        <div class="more">
          <span class="menu">メニュー</span>
          <ul class="more_list">
            <li><%= link_to 'メインページ', root_path, method: :get %></li>
            <% if true %>
              <li><%= link_to '評価ページ', evaluations_path, method: :get %></li>
            <% elsif current_user.id == 1 %>
              <li><%= link_to '部署情報編集ページ', user_departments_relations_path, method: :get %></li>
            <%end%>
            <li><%= link_to 'ユーザ登録編集', edit_user_registration_path, method: :get %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    <%else%>
      <div class="sign-in-out-btn">
        <%= link_to "ログイン", new_user_session_path %>
      </div>
    <% end %>
  </div>
  <div class="right-header">
    <p class="evaluation-page-title">
      〜　評価ページ　〜
    </p>
    <p class="evaluation-department">
    </p>
  </div>
</div>