<div class="header">
  <div class="left-header">
    <%= link_to "Suggestions Box", root_path, class:"header-title"%>
    <% if user_signed_in? %>
      <div class="user-info-field">
        <div>
          ようこそ、<%= (current_user.family_name + " " + current_user.first_name) %>さん
        </div>
        <div class="more">
          <span class="menu">メニュー</span>
          <ul class="more_list">
            <% if UserDepartmentsRelation.where(
                    "is_manager = true AND user_id = :user_id AND department_id IN (:department) ",
                    {user_id: current_user.id, department: (Department.pluck(:parent_id).uniq)}).length > 0 ||
                  current_user.id == 1 %>
              <li><%= link_to '評価ページ', evaluations_path, method: :get %></li>
              <li><%= link_to '最終評価ページ', results_path, method: :get %></li>
            <% elsif UserDepartmentsRelation.where(
                    "is_manager = true AND user_id = :user_id",
                    {user_id: current_user.id}).length > 0 || current_user.id ==1 %>
              <li><%= link_to '評価ページ', evaluations_path, method: :get %></li>
            <%end%>
            <% if current_user.id == 1 %>
              <li><%= link_to '部署情報編集ページ', user_departments_relations_path, method: :get %></li>
            <%end%>
            <li><%= link_to 'ユーザ登録編集', edit_user_registration_path, method: :get %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    <%else%>
      <div class="sign-in-out-btn">
        <%= link_to "ログイン", new_user_session_path %>
      </div>
    <% end %>
  </div>
  <div class="right-header">
    <div class="header-search-area">
      <div class="header-search">
        <%# 本番は下記の検索フォームを入れ込む %>
        <%= form_with local: true, url:search_suggestions_path,method: :get, placeholder: "ワード検索" , class:"header-search" do |f| %>
          <%= f.text_field :keyword, class:"search-form" %>
          <%= f.submit "▼", class:"search-btn" %>
      </div>
      <div class="filter-contents">
        <div class="filter-content">
          <span class="filter-label">提出時期</span>
          <p class="filter-dates">
            <%= f.date_field :filter_start_date, class:"filter-date-box", placeholder: "開始" %>
            〜
            <%= f.date_field :filter_end_date, class:"filter-date-box", placeholder: "終了" %>
          </p>
        </div>
        <div class="filter-content">
          <span class="filter-label">ロケーション</span>
          <%= f.collection_select :filter_location, Location.all, :id, :name, {}, {class:"filter-box", id:"filter-location"} %>
        </div>
        <div class="filter-content">
          <span class="filter-label">部署名</span>
          <%= f.collection_select :filter_department, Department.all, :id, :name, {}, {class:"filter-department-box", id:"filter-category"} %>
        </div>
        <div class="filter-content">
          <span class="filter-label">評価点</span>
          <%= f.text_field :filter_score, class:"filter-score-box", placeholder: "---" %>
        </div>
        <div class="filter-content">
          <span class="filter-label">採点結果</span>
          <%= f.collection_select :filter_result, ResultList.all, :id, :name, {}, {class:"filter-result-box", id:"filter-result"} %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>