<div class="header">
  <div class="left-header">
    <%= link_to "Suggestions Box", root_path, class:"header-title"%>
  </div>
  <div class="right-header">
    <div class="header-search-area">
      <div class="header-search">
        <%= form_with local: true, url:search_suggestions_path,method: :get, placeholder: "ワード検索" , class:"header-search" do |f| %>
          <%= f.text_field :keyword, class:"search-form", placeholder:" 検索欄 (問題点、理想、効果より)" %>
          <%= f.submit "検索", class:"search-btn" %>
      </div>
      <div class="filter-contents">
        <div class="filter-content">
          <span class="filter-label">提出時期</span>
          <p class="filter-dates">
            <%= f.date_field :filter_start_date, class:"filter-date-box", placeholder: "開始" %>
            〜
            <%= f.date_field :filter_end_date, class:"filter-date-box", placeholder: "終了" %>
          </p>
        </div>
        <div class="filter-content">
          <span class="filter-label">ロケーション</span>
          <%= f.collection_select :filter_location, Location.all, :id, :name, {}, {class:"filter-box", id:"filter-location"} %>
        </div>
        <div class="filter-content">
          <span class="filter-label">部署名</span>
          <%= f.collection_select :filter_department, Department.all, :id, :name, {}, {class:"filter-department-box", id:"filter-department"} %>
        </div>
        <div class="filter-content">
          <span class="filter-label">点数</span>
          <%= f.collection_select :filter_score, FilterScore.all, :id, :name, {}, {class:"filter-score-box", id:"filter-score"} %>
        </div>
        <div class="filter-content">
          <span class="filter-label">最終結果</span>
          <%= f.collection_select :filter_result, FilterResult.all, :id, :name, {}, {class:"filter-result-box", id:"filter-result"} %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>