<%= render "shared/result_header" %>


<div class="result-main">
  <div class="sidebar">
    <%= render "suggestions/sidebar"%>
    <%= render "results/result_sidebar" %>
  </div>

  <div class="result-area">
    <div class="show-suggestion-and-evaluation">
      <div class="show-only-suggestion">
        <%= render "suggestions/show_suggestion" %>
      </div>
      <%= render "suggestions/show_evaluation" %>
    </div>
    <div class="result-form">
      <%= form_with local: true, model: @result, url: suggestion_evaluation_result_path(
            suggestion_id: params[:suggestion_id], evaluation_id: params[:evaluation_id], id: params[:id]) do |f| %>
        <p class="result-input-title">最終評価記入エリア</p>
        <div class="result-input">
          <%= f.text_area :comment, class:"result-comment", placeholder:"コメントを記入して下さい", maxlength:"400" %>
          <div class="list-and-submit">
            <%= f.collection_select :result_list_id, ResultList.all, :id, :name, {}, {class:"result-list", id:"result-list"} %>
            <%= f.submit "評価提出", class:"submit-btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>