
<%= render "shared/result_header" %>


<div class="result-main">
  <%= render "results/result_sidebar" %>

  <div class="result-area">
    <div class="show-suggestion">
      <%= render "suggestions/suggestion" %>
      <%= render "suggestions/evaluation" %>
    </div>
    <%= render "results/result_input"%>
  </div>
</div>