<div class="show-evaluation-field">
  <h2 class="title">
    評価結果
  </h2>

  <div class="show-evaluation-comment-and-score">
    <p class="show-evaluation-comment-form">
      <%= @suggestion.evaluation.comment %>
    </p>
    <div >
      <p class="show-evaluation-score-form">
        <%= @suggestion.evaluation.evaluation_score %>点
      </p>
      <p>
        <br>
        <span class="evaluator">【評価者】</span><br>
        <span class="evaluator"><%= ( @suggestion.evaluation.user.family_name + " " + @suggestion.evaluation.user.first_name ) %>さん</span>
      </p>
    </div>
  </div>

  <% if @suggestion.evaluation.result == nil && current_user.id == @suggestion.evaluation.user_id %>
    <div class="link">
      <%= link_to "修正ページへ移動", edit_suggestion_evaluation_path(suggestion_id: @suggestion.id, id: @suggestion.evaluation.id), class: "link-btn-show-to-evaluation-edit" %>
      <%= link_to "削除", suggestion_evaluation_path(suggestion_id: @suggestion.id, id: @suggestion.evaluation.id), method: :delete, class: "destroy-btn-evaluation" %>
      <% if UserDepartmentsRelation.where(
              "department_id = :parent_id AND user_id = :user_id AND is_manager = true",
              {parent_id: @suggestion.department.parent_id, user_id: current_user.id}).length > 0 %>
        <%= link_to "最終審査", new_suggestion_evaluation_result_path(
            suggestion_id: @suggestion.id, evaluation_id: @suggestion.evaluation.id), method: :get, class:"link-btn-show-to-result" %>
      <% end %>
    </div>
  <% end %>
</div>