<%= render "shared/header"%>

<h1 class="show-title">
  <%= @suggestion.name %>
</h1>

<div class="show-suggestion">
  <div class="background-mask">
      <div class="show-suggestion-top">
        <div class="new-suggestion-top-left">
          <%= @suggestion.category_id, class:"show-text-form", id:"suggestion-category" %>
          <p class="input-label">
            ターゲット
          </p>
          <div class="show-target-field">
            <%= f.text_field :location_id, class:"suggestion-input-target", id:"suggestion-location", placeholder:"部門選択蘭"%>
            <%= f.text_field :place_id, class:"suggestion-input-target", id:"suggestion-place", placeholder:"所在地選択欄"%>
            <%= f.text_field :target, class:"suggestion-input-target", id:"suggestion-target", placeholder:"対象選択欄"%>
          </div>
        </div>
        <div class="show-suggestion-top-right">
          <div class="new-suggestion-map">dummy image</div>
        </div>
      </div>
      <div class="show-suggestion-explanation-area">
        <div class="show-suggestion-explanation">
          <p class="input-label">
            ＜現状の問題点＞
          </p>
          <%= @suggestion.issue, class:"show-suggestion-explanation-box", id:"suggestion-issue" %>
          <div id="before-image-list">
            <%# @suggestion.before_images.each do |image| %>
              <%#= image, class:"image-file" %>
            <%# end %>
          </div>
        </div>
        <div class="show-suggestion-explanation">
          <p class="input-label">
            ＜あるべき姿,理想＞
          </p>
          <%= @suggestion.ideal, class:"show-suggestion-explanation-box", id:"suggeation-ideal" %>
          <div id="after-image-list">
            <%# @suggestion.after_images.each do |image| %>
              <%#= image, class:"image-file" %>
            <%# end %>
          </div>
        </div>
      </div>
      <div class="show-suggestion-effect">
        <p class="input-label">
          ＜改善効果＞
          <span>必須</span>
        </p>
        <%= @suggestion.effect, class:"show-suggestion-explanation-box", id:"suggeation-effect" %>
      </div>
      <div class="suggestion-submit">
        <%= f.submit "提案する", class:"submit-btn" %>
      </div>
  </div>
</div>

<%= render "shared/footer"%>