<%= render "shared/header" %>

<div class="main">
  <div class="sidebar">
    <%= render "suggestions/sidebar" %>
  </div>
  <div class="suggestions-field">
    <% @suggestions.each do |suggestion| %>
      <div class="suggestion">
        <div class="suggestion-top">
          <div class="suggestion-title-and-point">
            <p class="title">
              <%= link_to suggestion.title, suggestion_path(suggestion.id), class:"suggestion-link" %>
            </p>
            <p class="evaluated-point">
              <% if suggestion.evaluation != nil && suggestion.evaluation.evaluation_score >= 80 %>
                <span class="point-great">
                  <%= suggestion.evaluation.evaluation_score %>点
                </span>
              <% elsif suggestion.evaluation != nil && suggestion.evaluation.evaluation_score >= 60 %>
                <span class="point-better">
                  <%= suggestion.evaluation.evaluation_score %>点
                </span>
              <% elsif suggestion.evaluation != nil %>
                <%= suggestion.evaluation.evaluation_score %>点
              <% else %>
                <span class="not-evaluated">未評価</span>
              <% end %>
            </p>
          </div>
          <div class="suggestion-category-index">
            category　：　<%= Category.find(suggestion.category_id).name %>
          </div>
        </div>
        <div class="suggestion-middle">
          <% unless suggestion.before_images.first == nil %>
            <%= image_tag suggestion.before_images.first, class:"before-image" %>
          <% end %>
          <% unless suggestion.after_images.first == nil %>
            <%= image_tag suggestion.after_images.first, class:"after-image" %>
          <% end %>
        </div>
        <div class="suggestion-bottom">
          <b>
            <%= suggestion.department.name %>　
            <%= (suggestion.user.family_name + " " +suggestion.user.first_name) %>さん
          </b>
        </div>
      </div>
    <% end %>

    <% if @suggestions.length % 3 == 1 %>
      <div class="dummy-suggestion"></div>
      <div class="dummy-suggestion"></div>
    <% elsif @suggestions.length % 3 == 2 %>
      <div class="dummy-suggestion" ></div>
    <% end %>

  </div>
</div>

