<%= render "shared/header" %>

<div class="main">
  <div class="suggestions-field">
    <% @suggestions.each do |suggestion| %>
      <div class="suggestion">
        <div class="suggestion-top">
          <div class="suggestion-title-and-point">
            <p class="title">
              <%= link_to suggestion.title, suggestion_path(suggestion.id), class:"suggestion-link" %>
            </p>
            <p class="evaluated-point">未評価</p>
          </div>
          <div class="suggestion-category-index">
            category　：　<%= Category.find(suggestion.category_id).name %>
          </div>
        </div>
        <div class="suggestion-middle">
          <% suggestion.before_images.each do |before_image| %>
            <%= image_tag before_image, class:"before-image" %>
            <% break %>
          <% end %>
          <% suggestion.after_images.each do |after_image| %>
            <%= image_tag after_image, class:"after-image" %>
            <% break %>
          <% end %>
        </div>
        <div class="suggestion-bottom">
          <b>
            <%= suggestion.department.name %>　
            <%= suggestion.user.family_name %>さん
          </b>
        </div>
      </div>
    <% end %>

    <% if @suggestions.length % 3 == 1 %>
      <div class="dummy-suggestion"></div>
      <div class="dummy-suggestion"></div>
    <% elsif @suggestions.length % 3 == 2 %>
      <div class="dummy-suggestion" ></div>
    <% end %>

  </div>
</div>

<%= link_to(new_suggestion_path, class: 'suggestion-btn') do %>
  <span class='suggestion-btn-text'>提案する</span>
  <%= image_tag 'comment.png', size: '60x90', class: "suggestion-btn-icon" %>
<% end %>

<%= render "shared/footer" %>