<%= render "shared/header"%>

<div class="new-suggestion">
  <div class="background-mask">
    <%= form_with model: @suggestion do |f| %>
      <div class="new-suggestion-top">
        <div class="new-suggestion-top-left">
          <p class="input-label">
            タイトル
            <span>必須</span>
          </p>
          <%= f.text_field :title, class:"suggestion-input-form", id:"suggestion-title", placeholder:"タイトルを入力してください" %>
          <p class="input-label">
            カテゴリー
            <span>必須</span>
          </p>
          <%= f.text_field :category, class:"suggestion-input-form", id:"suggestion-category", placeholder:"カテゴリーを選択してください" %>
          <p class="input-label">
            ターゲット
            <span>必須</span>
          </p>
          <%= f.text_field :location_id, class:"suggestion-input-target", id:"suggestion-location", placeholder:"部門選択欄"%>
          <%= f.text_field :place_id, class:"suggestion-input-target", id:"suggestion-place", placeholder:"所在地選択欄"%>
          <%= f.text_field :target, class:"suggestion-input-target", id:"suggestion-target", placeholder:"対象選択欄"%>
        </div>
        <div class="new-suggestion-top-right">
          <div class="new-suggestion-map">dummy image</div>
        </div>
      </div>
      <div class="new-suggestion-explanation-area">
        <div class="new-suggestion-explanation">
          <p class="input-label">
            ＜現状の問題点＞
            <span>必須</span>
          </p>
          <%= f.text_area :issue, class:"suggestion-explanation-box", id:"suggestion-issue", placeholder:"現状の問題点を記載してください", rows:"6", maxlength:"600" %>
          <%= f.file_field :before_images, class:"image-file", name: "before[images][]", id: "before-image" %>
          <div id="before-image-list"></div>
        </div>
        <div class="new-suggestion-explanation">
          <p class="input-label">
            ＜あるべき姿,理想＞
            <span>必須</span>
          </p>
          <%= f.text_area :ideal, class:"suggestion-explanation-box", id:"suggeation-ideal", placeholder:"理想とする状態、もしくは改善後の状態について記載してください", rows:"6", maxlength:"600" %>
          <%= f.file_field :after_images, class:"image-file", name: "after[images][]", id: "after-image" %>
          <div id="after-image-list"></div>
        </div>
      </div>
      <div class="new-suggestion-effect">
        <p class="input-label">
          ＜改善効果＞
          <span>必須</span>
        </p>
        <%= f.text_area :effect, class:"suggestion-explanation-box", id:"suggeation-effect", placeholder:"改善効果をできる限り定量的に記載してください", rows:"5", maxlength:"600" %>
      </div>
      <div class="suggestion-submit">
        <%= f.submit "提案する", class:"submit-btn" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer"%>