<%= render "shared/header" %>

<%= render "suggestions/suggestion_prev_next" %>

<div class="show-suggestion">
  <div class="background-mask">
    <%= render "suggestions/suggestion" %>
    <div class="link">
      <% if @suggestion.writable==true && current_user.id == @suggestion.user_id %>
        <%= link_to "修正ページへ移動", edit_suggestion_path(params[:id]), class:"link-btn-show-to-edit" %>
        <%= link_to "削除", suggestion_path(params[:id]), method: :delete, class:"destroy-btn" %>
      <% end %>
      <% if (@suggestion.evaluation == nil && @relations.where("department_id = #{@suggestion.department.id}" ).length > 0) %>
        <%= link_to "評価ページへ", new_suggestion_evaluation_path(params[:id]), class:"link-btn-show-to-evaluation" %>
      <% end %>
    </div>
  </div>
</div>

<%# 評価ページ %>
<% unless @suggestion.evaluation == nil %>
  <%= render "suggestions/evaluation" %>

<%# 最終評価ページ %>
  <% unless @suggestion.evaluation.result == nil %>
    <%= render "suggestions/result" %>
  <% end %>
<% end %>

<%= render "suggestions/suggestion_prev_next" %>

<%= render "shared/footer" %>